body {
    font-family: 'Consolas', monospace;
    background-color: hsl(0, 3%, 12%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 3%, 20%);
    width: 310px;
    height: 490px;
    border-radius: 20px;
}

.profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 5px;
}

.name{
    color: hsl(100, 100% , 100%);
    font-size: 25px;
    margin: 5px 0 0 0;
}

.city-state {
    color: hsl(360, 100%, 51%);
    font-size: 17px;
    margin: 0 0 5px 0;
}

.description {
    color: hsl(0, 3%, 60%);
    margin: 0 0 20px 0;
}

.buttons-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    background-color: hsl(0, 3%, 35%);
    border: none;
    border-radius: 8px;
    width: 280px;
    height: 50px;
    color: hsl(100, 100% , 100%);
    font-size: 14px;
}

button:hover {
    background-color: hsl(360, 75%, 51%);
    cursor: pointer;
    transition: 0.5s;
}
